[flake8]
per-file-ignores =
    docstrings.py: F811
    outputs.py: F811
    parallel.py: F401
    parameters_file.py: E402,F811,E0102
    parameters_validation.py: F821
    replications.py: F401,F811,F821
    pages/output_analysis/outputs_resources/*.py:E261,E262,F821
    pages/output_analysis/replications_resources/*.py:E261,E262,F821