[FORMAT]
max-line-length=79

[MESSAGES CONTROL]
disable =
    duplicate-code,
    function-redefined,
    missing-module-docstring,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-lines,
    too-many-positional-arguments,
    wrong-import-order
