.guidelines {
  background-color: #567b9f;
  color: white;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
  margin-bottom: 3em;
}

.pale-blue {
  background-color: #dce3eb;
  color: black;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.cream {
  background-color: #fbf5f0;
  color: black;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}

.pale-grey {
  background-color: #edeeef;
  color: black;
  border-radius: 8px;
  padding: 1.2em 1em 0.5em 1em;
  margin: 1.5em 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
}
