.sidebar-item-text.sidebar-link.text-start {
    font-weight: bold;
}

.sidebar.menu.container {
  height: 20vh;
}

.sidebar {
  padding-bottom: 15em;
}

#quarto-announcement {
  background-color: #f8f9fa !important;
}
