/* Sidebar */
.sidebar-item-text.sidebar-link.text-start {
  font-weight: bold;
}
@media (min-width: 992px) {
  .sidebar{
    margin-top: -5em;
  }
}
@media (max-width: 992px) {
  .sidebar{
    padding-bottom: 15em;
  }
}

/* Language choice banner */
#quarto-announcement {
  background-color: #0a4568 !important;
  color: white;
}

/* Navbar/sidebar toggle button background and text/icon color */
.quarto-secondary-nav .quarto-btn-toggle.btn {
  background-color: #0a4568;
  color: #ffffff;
  margin-right: 1rem !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.quarto-banner nav.quarto-secondary-nav {
  border-top: 1px solid #0a4568;
  border-bottom: 4px solid #0a4568;
}

/* Breadcrumb items (i.e., page > page) */
.quarto-secondary-nav nav.quarto-page-breadcrumbs a {
  color: #cad6dd;
}
.quarto-title-banner a {
  color: #cad6dd;
}
.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
  color: #cad6dd;
}